body {
    color:black;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    }
@font-face{
  font-family: 'Montserrat Bold', arial;
    src:url('font/Montserrat-Bold.ttf')

}

#nav-left {
    border: thick black solid ;
    background-color: black;
    width: 30%;
    float: left;
    color: white;
    text-align: center;
}

#nav-left-top {
  border-bottom: thick white solid;
}

#content {
    border: thick black solid ;
    width: 68%;
    float: right;
}

#photo img {
  width: 60%;
  height: 60%;
  transform: rotate(90deg); 
  position: relative;
  margin-top: 15%;

}

#photo{
  /*transform: rotate(90deg); 
*/}

.Name {
  font-size: X-large;
  transform: scale(2.5,2);
}

.date {
  font-size: small;
}

#profil {
  /*text-decoration: underline;*/
}

.trait {
  margin-left: 35%;
  width: 30%;
  padding: 5%;
  border-top: 2px white solid ;
}
.traitl {
  margin-left: 5%;
  width: 80%;
  padding: 5%;
  border-top: 2px black solid ;
}

.pbar {
  margin-left: 15%;
  border: 2px white solid;
  margin-right: 15%;
}
.pbar2 {
  border: 2px white solid;
}