body {
    color:black;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    }
@font-face{
  font-family: 'Montserrat Bold', arial;
    src:url('font/Montserrat-Bold.ttf')

}


.navtop {
  display: inline;

}

a {
  text-decoration:none;
  color:#FFF;
}
.rainbow-button {
  width:calc(10vw + 6px);
  height:calc(4vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:small;
  font-weight:bold;
  display: inline-block;
}
.rainbow-button:after {
  content:attr(alt);
  width:10vw;
  height:4vw;
  background-color: black;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left: 2.5px;
  margin-top: 2.5px;
  color: white;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

#nav-left {
  margin-left: 10%;
    border: thick black solid ;
    background-color: black;
    height: 100%;
    width: 30%;
    float: left;
    color: white;
    text-align: center;
}

#nav-left-top {
  border-bottom: thick white solid;
}

#content {
  margin-right: 10%;
    width: 48%;
    float: right;
    font-family: "Montserrat";
}

#photo img {
  width: 60%;
  height: 60%;
  transform: rotate(90deg); 
  position: relative;
  margin-top: 15%;

}

#photo2 img {
  width: 60%;
  height: 60%;
  transform: rotate(90deg); 
  position: relative;
  margin-top: 15%;
  float: left;
  width: 45%;
}

.Name {
  font-size: X-large;
  transform: scale(2.5,2);
}

.date {
  font-size: small;
}

.trait {
  margin-left: 35%;
  width: 30%;
  padding: 5%;
  border-top: 2px white solid ;
}
.traitl {
  width: 95%;
  border-top: 2px black solid ;
}

.pbar {
  margin-left: 20%;
  border: 2px white solid;
  margin-right: 20%;
}
.pbar2 {
  border: 2px white solid;
}
#Etudes {
  margin-left: 5%;
}

#formulaire {
  margin-left: 5%;
}

#field {
  margin-left: 2%;
  width: 60%;
}
#button {
  float: right;
  margin-top: -120px;
  margin-right: 180px;
  widows: 30%;;
}

#legendaire {
  margin-left: 40%;
}